<!DOCTYPE html>
<html>
<head><title>Home</title></head>
<body>
    <h1>Signup</h1>
    <form action="/welcome" method="post">
      <p><label>Username<input type="text" name="username"></label> {{username_error}} </p>
        <p><label>Password<input type="password" name="password"></label> {{password_error}} </p>
        <p><label>Verify Password<input type="password" name="verify"></label> {{verify_error}} </p>
        <p><label>Email (optional)<input type="text" name="email"></label> {{email_error}} </p>
        <p><input type="submit" value="submit"></p>
    </form>
</body>
</html>